* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
	text-align: justify
}

a {
	text-decoration: none;
}

@media all and (min-width:0\0) and (min-resolution:.001dpcm) {
	img {
		border: none;
	}
}

.mobile {
	display: none;
}

.wrapper {
	width: 1280px;
	max-width: 100%;
	margin: 0 auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

header {
	font-size: 0;
	background: #0095da;
}

header ul li,
.breadcrumbs ul li,
.commetns__head h2,
.commetns__head div,
.commetns__head div a img,
.commetns__head div a span,
.user_name p,
.user_name span {
	display: inline-block;
	vertical-align: middle;
}

header ul li:nth-of-type(1) a {
	background: #f00;
	font-size: 20px;
	padding: 17px 10px;
	font-weight: bold;
	margin-left: 0;
}

header ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
	font-size: 16px;
	display: block;
	margin: 0 20px;
}

.breadcrumbs {
	border-bottom: 1px dotted #ccc;
	padding: 10px;
}

.breadcrumbs ul li a {
	font-size: 14px;
	color: #255d89;
	border-left: 1px solid #ccc;
	display: block;
	padding: 12px 10px;
	text-decoration: none;
}

.breadcrumbs ul li:nth-of-type(1) a {
	border: none;
}

.content {
	padding: 40px 40px 0;
	color: #303030;
}

h1 {
	font-size: 35px;
	margin-bottom: 12px;
}

h5 {
	background: #ff0;
	color: #f00;
	font-size: 21px;
	padding: 10px;
	font-weight: normal;
	margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.15;
}

p {
	font-size: 16px;
	text-indent: 15px;
	line-height: 1.4;
	margin: 8px 0;
}

.link {
	color: #e2be0d;
	text-decoration: none;
}

.content__img {
	width: 600px;
	max-width: 100%;
	display: block;
	margin: 0 auto 8px;
}

.quote {
	font-style: italic;
	font-size: 14px;
	line-height: 1.3;
	text-align: center;
	margin-bottom: 8px;
	font-weight: 100;
	text-indent: 0;
	margin-bottom: 25px;
}

ol {
	padding-left: 50px;
	font-size: 16px;
}

ol li {
	margin: 10px 0;
}

.title {
	font-weight: bold;
	text-indent: 0;
}

.article {
	width: 600px;
	max-width: 100%;
	display: block;
	margin: 0 auto 25px;
	font-size: 0;
}

.article div {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: 10px 0;
	position: relative;
}

.article div img {
	width: 100%;
}

.article div span {
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 12px;
	text-align: center;
	width: 100%;
}

.article div .other_position {
	top: auto;
	bottom: 28px;
}

.article div p {
	font-size: 14px;
	font-weight: bold;
	text-indent: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
	line-height: 1;
}

.product {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.btn {
	text-align: center;
	display: block;
	font-size: 25px;
	margin: 10px 0 25px;
	font-weight: bold;
	background-color: #252e8b;
	padding: 10px 0px;
	border-radius: 10px;
}

.substrate {
	background: #fdf5fe;
	border: 4px double #deadb3;
	width: 940px;
	max-width: 100%;
	margin: 25px auto;
	padding: 15px;
}

.substrate p {
	text-indent: 0;
}

.substrate p:nth-of-type(1) {
	background: #eab4b4;
	padding: 7px;
}

.commetns__head {
	border-top: 1px solid #ccc;
	font-size: 0;
	margin-bottom: 17px;
	padding-top: 17px;
}

.commetns__head h2,
.commetns__head div {
	width: 50%;
	font-size: 25px;
	font-weight: normal;
}

.commetns__head div {
	text-align: right;
}

.commetns__head div a {
	display: inline-block;
	background: #3a5797;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	padding: 6px 10px;
}

.commetns__head div a img {
	margin-right: 10px;
}

.commetns__head div a:hover {
	-webkit-box-shadow: 0 0 6px rgb(104, 115, 121);
	box-shadow: 0 0 6px rgb(104, 115, 121);
}

.comments {
	list-style: none;
	font-size: 16px;
	font-weight: bold;
}

.comments li {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.comments p {
	text-indent: 0;
	margin: 0;
	width: 68px;
}

.user_name {
	margin: 0 0 9px;
}

.user_name span:nth-of-type(1) {
	font-size: 9px;
	background: #757575;
	padding: 2px 3px 1px 3px;
	margin-left: 4px;
	color: #ffffff;
	border: 3px double #ffffff;
}

.user_name span:nth-of-type(2) {
	font-size: 15px;
	color: #333;
}

.avatar {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	margin-right: 10px;
}

.comment__post {
	display: inline-block;
	vertical-align: top;
	width: -webkit-calc(100% - 75px);
	width: -moz-calc(100% - 75px);
	width: calc(100% - 75px)
}

footer {
	font-size: 14px;
	color: #000;
	text-align: center;
	padding: 5px 0;
}

@media all and (max-width: 767px) {

	header ul li a,
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.article {
		width: 300px;
	}

	header ul li:nth-of-type(1) a {
		display: inline-block;
	}

	.breadcrumbs {
		padding: 0;
	}

	.breadcrumbs ul li a {
		padding: 8px 10px;
	}

	.content {
		padding: 10px 10px 0;
	}

	h1 {
		font-size: 21px;
		font-weight: normal;
	}

	h5 {
		font-size: 18px;
	}

	ol padding-left: 35px;

	ticle div {
		width: 50%;
	}

	.btn {
		font-size: 18px;
		font-weight: normal;
	}

	.comment__post {
		width: 100%;
		display: inline;
	}

	.avatar {
		float: left;
	}

	.comments li {
		min-height: 105px;
	}
}

.ac_footer {
	position: relative;
	text-align: center;
	overflow: hidden;
	padding: 15px 0;
	color: #fff;
	background-color: black;
}

.comment__post img {
	max-width: 100%
}

@media only screen and (min-width:576px) {
	.comments li img:last-child {
		width: 350px;
		padding-left: 75px
	}
}

@media (max-width:576px) {
	.img-mobile {
		width: 100% !important;
	}
}